bun.sandbox.localhost {
	tls "C:/Users/wulfr/.ssh/certificates/sandbox.localhost.pem" "C:/Users/wulfr/.ssh/certificates/sandbox.localhost-key.pem"

	reverse_proxy localhost:5000

	log {
		output file ./caddy.log
	}
}

vite.sandbox.localhost {
	tls "C:/Users/wulfr/.ssh/certificates/sandbox.localhost.pem" "C:/Users/wulfr/.ssh/certificates/sandbox.localhost-key.pem"

	reverse_proxy localhost:5173

	log {
		output file ./caddy.log
	}
}

next.sandbox.localhost {
	tls "C:/Users/wulfr/.ssh/certificates/sandbox.localhost.pem" "C:/Users/wulfr/.ssh/certificates/sandbox.localhost-key.pem"

	reverse_proxy localhost:4000

	log {
		output file ./caddy.log
	}
}
