# Reminder: X.509 wildcards only go one level deep, so this won't match a.b.sandbox.local ℹ️

bun.sandbox.local {
	tls "C:/Users/wulfr/.ssh/certificates/_wildcard.sandbox.local.pem" "C:/Users/wulfr/.ssh/certificates/_wildcard.sandbox.local-key.pem"

	reverse_proxy localhost:5000

	log {
		output file ./caddy.log
	}
}

vite.sandbox.local {
	tls "C:/Users/wulfr/.ssh/certificates/_wildcard.sandbox.local.pem" "C:/Users/wulfr/.ssh/certificates/_wildcard.sandbox.local-key.pem"

	reverse_proxy localhost:5173

	log {
		output file ./caddy.log
	}
}

next.sandbox.local {
	tls "C:/Users/wulfr/.ssh/certificates/_wildcard.sandbox.local.pem" "C:/Users/wulfr/.ssh/certificates/_wildcard.sandbox.local-key.pem"

	reverse_proxy localhost:4000

	log {
		output file ./caddy.log
	}
}

medusa.sandbox.local {
	tls "C:/Users/wulfr/.ssh/certificates/_wildcard.sandbox.local.pem" "C:/Users/wulfr/.ssh/certificates/_wildcard.sandbox.local-key.pem"

	reverse_proxy localhost:9000

	log {
		output file ./caddy.log
	}
}
# HMR
medusa.sandbox.local:5174 {
	tls "C:/Users/wulfr/.ssh/certificates/_wildcard.sandbox.local.pem" "C:/Users/wulfr/.ssh/certificates/_wildcard.sandbox.local-key.pem"

	reverse_proxy localhost:5173

	log {
		output file ./caddy.log
	}
}
